***Лабораторная работа по курсу «Python для анализа данных»*** <br />
При выполнении работы допускается использование любых внешних модулей и
пакетов. <br /> <br />
**Задача 1** <br />
Дана строка
string_01 = “Mama, just killed a man, put a gun against his head,
pulled my trigger, now he's dead. Mama, life had just begun, but
now I've gone and thrown it all away. Mama, ooh (any way the wind
blows), didn't mean to make you cry. If I'm not back again this
time tomorrow carry on, carry on as if nothing really matters.”
- Посчитайте, сколько в строке символов (исключая пробелы).
- Посчитайте, сколько в строке слов.
- Напишите функцию, которая будет принимать в качестве аргумента букву и
выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
- Не обязательно: Напишите функцию, которая будет принимать в качестве
аргумента букву и выводить все слова из строки, начинающиеся на эту букву
(например, “m”).<br /><br />

**Задача 2** <br />
Напишите код, который будет генерировать случайную последовательность из 6
цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например:
"456309" или "330127".<br /><br />

2
3
4
6
6
4

In [156]:
import random

random_6_digit_seq = random.sample([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 6)
random_pos_for_3 = random.sample([0, 1, 2, 3, 4, 5], 1)
random_6_digit_seq[int(random_pos_for_3[0])] = 3

random_6_digit_seq

[8, 7, 3, 2, 5, 3]

**Задача 3**<br />
Дан список
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Напишите алгоритм, который выводит сумму элементов списка, которые больше
10, но меньше 100.<br /><br />

In [72]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
greater_then = 10
lesser_then = 100

sumifs = [v for v in list_01 if v > greater_then and v < lesser_then]
result = sum(sumifs)
result

212

**Задача 4**<br />
Данные студентов представлены в виде списка списков:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],["0333", "Глаголева", "Анастасия", "Николаевна",
"11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна",
"13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009",
"БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009",
"БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010",
"БСТ162"],
["0309", "Шафутинский", "Михаил", "Михайлович",
"03.09.2007", "БСТ163"]
]
- Преобразуйте данные таким образом, чтобы они были представлены в виде
словаря, в котором ключами являются номера студентов, а значениями —
список из других данных о студентах.
- Напишите функцию, которая принимает в качестве аргумента номер студента и
новый номер группы и позволяет изменить номер группы этого студента на
новый.
- Напишите функцию, которая принимает номер группы и выводит список
(фамилии, имена, отчества) всех студентов этой группы.<br /><br />

In [112]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],["0333", "Глаголева", "Анастасия", "Николаевна",
"11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна",
"13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009",
"БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009",
"БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010",
"БСТ162"],
["0309", "Шафутинский", "Михаил", "Михайлович",
"03.09.2007", "БСТ163"]
]

In [113]:
students_dict = {}
for student in students:
    key = student[0]
    value = student[1:]
    students_dict[key] = value
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [108]:
def change_student_group(student_id, new_group_name):
    for key, value in students_dict.items():
        if key == student_id:
            value[4] = new_group_name
            return

change_student_group('0001','БСТ1610000')
change_student_group('0309','БСТ100500')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ1610000'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ100500']}

In [114]:
def get_students_by_group(group_name):
    stident_list = []
    for value in students_dict.values():
        if value[4] == group_name:
            initials = value[0] + ' ' + value[1] + ' ' + value[2]
            stident_list.append(initials)
    return stident_list

print(get_students_by_group('БСТ162'))
print(get_students_by_group('БСТ161'))
print(get_students_by_group('БСТ163'))

['Богов Артем Игоревич', 'Сиропова Виолетта Эдуардовна']
['Антонов Антон Игоревич', 'Степанова Наталья Александровна', 'Боков Игорь Харитонович']
['Глаголева Анастасия Николаевна', 'Шафутинский Михаил Михайлович']

**Задача 5**<br />
Дана матрица:
matrix = [ <br />
[0, 1, 2, 4, 8],<br />
[6, 2, 2, 1, 9],<br />
[3, 3, 3, 3, 3],<br />
[4, 6, 7, 1, 2],<br />
[5, 7, 3, 4, 0]<br />
]<br />
- Выведите результат сложения всех элементов матрицы.
- Напишите алгоритм вычисления максимума из сумм элементов каждого
столбца.

In [53]:
matrix = [[0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0]]
sum_all_elements = 0
for l in matrix:
    for lv in l:
        sum_all_elements += lv
sum_all_elements

89

In [56]:
sums_of_columns = []
i = 0
while i < len(matrix[0]):
    values_of_column = []
    i += 1
    for l in matrix:      
        values_of_column.append(l[i-1])
    sums_of_columns.append((sum(values_of_column)))
result = max(sums_of_columns)
result

22